<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.viksit.com.viksit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.activity.SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.activity.HomeActivity" />
        <activity android:name=".home.activity.SignupActivity" />
        <activity android:name=".home.activity.LoginActivity" />
        <activity android:name=".home.activity.OTPActivity" />
        <activity android:name=".dashboard.activity.DashboardActivity" />
        <activity android:name=".role.activity.RoleActivity" />
        <activity android:name=".MainActivity" /> <!-- not used yet -->
        <activity android:name=".job.activity.JobActivity" />
        <activity android:name=".role.activity.RoleDetailActivity" />
        <activity android:name=".role.activity.RoleDepthActivity" />
        <activity android:name=".assessment.activity.AssessmentActivity" />
        <activity android:name=".calendar.activity.CalendarActivity" />
        <activity android:name=".assessment.activity.QuestionsActivity" />
        <activity android:name=".job.activity.JobDetailActivity" />
        <activity android:name=".role.activity.SessionActivity" />
        <activity android:name=".assessment.activity.QuestionDetailActivity" />
        <activity android:name=".assessment.activity.NewQuestionActivity" />
        <activity android:name=".home.activity.ForgotPasswordActivity" />
        <activity android:name=".home.activity.ResetPasswordActivity" />
        <activity android:name=".home.activity.ChangedPasswordActivity" />
        <activity android:name=".dashboard.activity.TaskCompletionActivity"></activity>
    </application>

</manifest>